body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*-------------------------*/
/* APP UI
*/

#app-ui {
  z-index: 1;
}

/*-------------------------*/
/* APP XR
*/

#app-ui,
#app-xr {
  position: absolute;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------*/
/* APP UI-XR
*/

#app-ui-xr {
  display: none;
}

#app-ui-xr:xr-overlay {
  display: block;
  bottom: 0 !important;
  top: unset !important;
  color: red !important;
  left: 10px !important;
  width: 10px !important;
  height: 10px !important;
}