body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#app-ui,
#app-xr {
  position: absolute;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app-ui {
  z-index: 1;
}